.example-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#main_grid {
  flex: 1 1 0px;
  width: 100%;
}

.example-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  margin-bottom: 1rem;
}

.lock-pinned {
  background: #ddd;
}

.ag-cell {
  text-align: center;
}

.toggle {
  width: 100px !important;
}

.btn-warning, .btn-secondary {
  margin-right: 4px;
}

.selected {
  background-color: #ddd;
  color:black;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  overflow: auto;
}

body {
  padding: 10px;
  overflow: auto;
}
